<div id="ConfigTop">
	<div id="menuPanel" class="commonFrame2">
		<ul class="common_tab t_pink">
			<li class="btn se_tabs TE current" data-type="user">Game Settings</li>
			<li class="btn se_tabs TE" data-type="push">Notifications</li>
			<li class="btn se_tabs TE" data-type="datas">Manage Data</li>
			<li class="btn se_tabs TE" data-type="transfer">Transfer Data<span class="noPassIcon<% if(setPassword){ %> off<% }%>"></span></li>
			<% if(currentPlatform === "DMM" || currentPlatform === "ANDROID"){ %>
				<li class="btn se_tabs TE" data-type="inputCode">Serial Code</li>
			<% } %>
			<li class="btn se_tabs TE playerData" data-type="deleteUserData">Player Data</li>
		</ul>
	</div>
	<div id="configWrap" class="commonFrame1 user">
		<h2 id="listTitle">Game Settings</h2>
		<div id="userWrap" class="commonConfigMain">
			<h3>Player</h3>
			<dl class="colWrap common_dl">
				<dt class="colLeft playerName">Player Name</dt>
				<%
					var nameChangeLimited = (gameUser.closeFunctions && gameUser.closeFunctions.indexOf("CHANGE_NAME") > -1) ? true : false;
				%>
				<dd class="colRight"><span id="userName" class="black"><%= _.escape(user.loginName) %></span><span class="btn rightPosition sb_gold_01 TE se_decide <% if(!canChangeLoginName || nameChangeLimited){ %> off<% } %>" id="nameChange"><span class="b_screen"></span>Change</span></dd>
			</dl>
			<dl class="colWrap common_dl">
				<dt class="colLeft">Player ID</dt>
				<dd class="colRight"><span id="userName" class="black"><%= gameUser.inviteCode %></span><span class="btn rightPosition se_decide sb_gold_01 TE " id="idCopy"><span class="b_screen"></span>Copy</span></dd>
			</dl>
			<h3>Volume</h3>
			<dl class="colWrap common_dl soundDl">
				<dt class="colLeft">BGM</dt>
				<dd class="colRight soundCol">
					<input id="bgmSlider" class="slider" type="range" max="10" value="">
				</dd>
			</dl>
			<dl class="colWrap common_dl soundDl">
				<dt class="colLeft">SE</dt>
				<dd class="colRight soundCol">
					<input id="soundSlider" class="slider" type="range" max="10" value="">
				</dd>
			</dl>
			<dl class="colWrap common_dl soundDl">
				<dt class="colLeft">Voices</dt>
				<dd class="colRight soundCol">
					<input id="voiceSlider" class="slider" type="range" max="10" value="">
				</dd>
			</dl>

		</div>

		<div id="pushWrap" class="commonConfigMain">
			<div class="pushMiniWrap">
				<div class="pushToggle">Event<span id="pushEvent" class="sb_gold_02 TE se_decide"><span class="b_screen"></span>ON</span></div>
				<div class="pushToggle">AP Recovery<span id="pushAP" class="sb_gold_02 TE se_decide"><span class="b_screen"></span>ON</span></div>
			</div>
		</div>

		<div id="datasWrap" class="commonConfigMain">
			<div class="configScroll">
				<h3>Voice Settings</h3>
				<div class="nowDataSet commonFrame3" id="voices">
					<div id="voiceDataWrap">
						<span class="checkBox se_decide"></span>
						<span class="voiceCheck"></span>
						<span class="dataTexts">Play with Voices</span>
					</div>
					<div id="voiceDataOffWrap">
						<span class="checkBox se_decide"></span>
						<span class="voiceCheck"></span>
						<span class="dataTexts">Play without Voices</span>
					</div>
					<div id="voiceDeleteSettingWrap">
						<span class="dataDeleteCheckBox se_decide" data-delete-type="voice"></span>
						<span class="dataTexts">Keep Story Voices After Viewing</span>
					</div>
					<div id="fullVoiceBtn" class="fullVoiceDl btn mb_pink se_decide TE">
						<span class="b_screen"></span>
						<span class="fullVoiceTx">Download All Story Voice Data</span>
					</div>
				</div>

				<h3>Video Settings</h3>
				<div class="nowDataSet commonFrame3" id="movies">
					<div id="movieDataWrap">
						<span class="checkBox se_decide" data-movie-type="high"></span>
						<span class="movieCheck"></span>
						<span class="dataTexts">Play with High Quality Videos</span>
					</div>
					<div id="movieDataLowWrap">
						<span class="checkBox se_decide" data-movie-type="low"></span>
						<span class="movieCheck"></span>
						<span class="dataTexts">Play with Low Quality Videos</span>
					</div>
					<div id="movieDataOffWrap">
						<span class="checkBox se_decide" data-movie-type="off"></span>
						<span class="movieCheck"></span>
						<span class="dataTexts">Play without Videos</span>
					</div>
					<div id="movieDeleteSettingWrap">
						<span class="dataDeleteCheckBox se_decide" data-delete-type="movie"></span>
						<span class="dataTexts">Keep Transformation Videos After Viewing</span>
					</div>
					<div id="fullMovieBtn" class="fullMovieDl btn mb_pink se_decide TE">
						<span class="b_screen"></span>
						<span class="fullMovieTx">Video Data Download</span>
					</div>
				</div>

				<h3>Download All Data</h3>
				<div class="commonFrame3 dataFrames">
					Try doing this when images and voices are not being played/displayed.
					<div id="allDownload" class="btn se_decide b_pink TE"><span class="b_screen"></span>Download All Data</div>
				</div>
				<h3>Clear Cache</h3>
				<div class="commonFrame3 dataFrames">
					Try doing this when images and voices are not being played/displayed.
					<div id="cacheClear" class="btn se_decide b_pink TE"><span class="b_screen"></span>Clear Cache</div>
				</div>
			</div>
		</div>

		<div id="transferWrap" class="commonConfigMain">
			<p class="firstText">
				Set your Transfer Password here.
			</p>
			<dl class="colWrap common_dl">
				<dt class="colLeft">Transfer ID</dt>
				<dd class="colRight"><%= user.personalId %></dd>
			</dl>
			<span class="btn rightPosition se_decide sb_gold_01 TE " id="transferIdCopy"><span class="b_screen"></span>Copy</span>
			<dl class="colWrap common_dl">
				<dt class="colLeft">Password</dt>
				<dd class="colRight" id="transferSettings"><% if(!setPassword){ %>Not Set<% }else{ %>Set<% } %></dd>
			</dl>
			<!-- <p class="c_red">※Passwords must be 8-15 characters.</p> -->
			<p class="transferNotice">※If you don't set a Transfer Password on this device, you can not transfer data to your new device.<br>
				Once you set a password, make sure not to forget your Transfer ID/Password.</p>
			<div class="relationWrap">
				<span class="btn se_decide b_pink TE" id="transfer"><span class="b_screen"></span>Set Password</span>
			</div>
			<p class="c_red">※Data can be transferred from the Title Page.</p>
		</div>

		<div id="inputCodeWrap" class="commonConfigMain" class="commonConfigMain">
			<div class="codeScroll">
				<div class="codeText">
					シリアルコードを入力してください。
				</div>
				<input id="presentCode" class="commonFrame3" readonly="readonly" type="text" maxlength="12" value="">
				<div id="codeCaution" class="c_red"></div>
				<div id="codeAfter"></div>
				<div class="defCaution c_red">
					※シリアルコードは、ー（ハイフン）を除いた12桁の半角英数字です。<br>
					※特典はプレゼントボックスよりお受け取りください。
				</div>
				<div id="codeSubmit" class="btn b_pink TE se_decide off"><div class="b_screen"></div><span>OK</span></div>
				<h3>現在獲得可能な特典</h3>
				<div class="nowArraival">
					<% if(rewardList.length > 0){ %>
						<% rewardList = _.sortBy(rewardList,function(reward){ return reward.orderNum;}); %>
						<% _.each(rewardList,function(reward,index){ %>
							<div class="rewardCol">
								<span class="rewardTitle ts_gold outerLink" data-url="<%= reward.url %>">■&nbsp;<%= reward.title %></span><br>
								<span class="rewardDetail"><%= reward.detail.replace(/＠/g, "<br>") %></span>
								<% if(reward.startAt || reward.endAt){ %>
									<br>
									<span class="rewardSpan">有効期間：<% if(reward.startAt){ %><%= reward.startAt.substr(0,10) %><% } %>&nbsp;〜&nbsp;<% if(reward.endAt){ %><%= reward.endAt.substr(0,10) %><% } %></span>
								<% } %>
							</div>
						<% }); %>
					<% }else{ %>
						現在獲得可能な特典はありません。
					<% } %>
				</div>
			</div>
		</div>

		<div id="deleteUserDataWrap" class="commonConfigMain">
			<h3>データの削除</h3>
			<div class="subFrame commonFrame3">
				<div class="mainText">
					プレイヤーデータを完全に削除します。
					<span class="c_red caution">※削除されたデータはいかなる場合でも元に戻すことはできません。</span>
				</div>
				<div id="deleteUserDataBtn" class="mainBtn btn mb_pink se_decide TE">
					<span class="b_screen"></span>
					<span class="btnText">プレイヤーデータ削除</span>
				</div>
			</div>
		</div><!-- /deleteUserDataWrap -->
	</div>
</div>

<script id="transferInner" type="text/template">
	<div id="transferPopup">
		<span class="leftCol c_gold">Transfer ID</span><span class="rightCol transferId"><%='<%= user.personalId %\>'%></span><br>
		<span class="leftCol c_gold">Password</span><span class="rightCol"><input readonly="readonly" type="password" id="transferPassword" class="commonFrame3" value=""></span><br>
		<span class="leftCol c_gold">Confirm Password</span><span class="rightCol"><input readonly="readonly" type="password" id="checkPassWord" class="commonFrame3" value=""></span>
		<div class="transferAlert">※Passwords must be 8-15 characters.</div>
		<div class="transferNotice">Your Transfer ID is needed when transfering accounts.<br>Please make a note of your ID and password.</div>
	</div>
</script>

<script id="dataPopInner" type="text/template">
	<div id="dataPopup">
		<div id="<%="<%= model.type %\>"%>DataWrapBefore"<%="<% if(model.onFlag){ %\>"%> class="on"<%="<% } %\>"%>>
			<span class="pointFrame">Before</span>
			<span class="<%="<%= model.type %\>"%>Check<%="<% if(model.type === 'movie' && model.oldType !== 0){ %\>"%> on<%="<% } %\>"%>"></span>
			<span class="changeText"><%="<% if(model.type === 'voice'){ %\>"%><%="<% if(model.onFlag){ %\>"%>Play With Voices<%="<% }else{ %\>"%>Play Without Voices<%="<% } %\>"%><%="<% }else{ %\>"%><%='<% if(model.oldType === 0){ %\>'%>Play Without Videos<%='<% }else if(model.oldType === 2){ %\>'%>Play With High Quality Videos<%='<% }else if(model.oldType === 1){ %\>'%>Play With Low Quality Videos<%="<% } %\>"%><%="<% } %\>"%></span>
		</div>
		<div id="<%="<%= model.type %\>"%>DataWrapAfter"<%="<% if(!model.onFlag){ %\>"%> class="on"<%="<% } %\>"%>>
			<span class="pointFrame">After</span>
			<span class="<%="<%= model.type %\>"%>Check<%="<% if(model.type === 'movie' && model.newType !== 'off'){ %\>"%> on<%="<% } %\>"%>"></span>
			<span class="changeText"><%="<% if(model.type === 'voice'){ %\>"%><%="<% if(model.onFlag){ %\>"%>Play Without Voices<%="<% }else{ %\>"%>Play With Voices<%="<% } %\>"%><%="<% }else{ %\>"%><%='<% if(model.newType === "off"){ %\>'%>Play Without Videos<%='<% }else if(model.newType === "high"){ %\>'%>Play With High Quality Videos<%='<% }else if(model.newType === "low"){ %\>'%>Play With Low Quality Videos<%="<% } %\>"%><%="<% } %\>"%></span>
		</div>
		<p id="dataPopText">
			<%='<% if((model.type === "voice" && model.onFlag) || (model.type === "movie" && model.newType === "off")){ %\>'%>
				This will delete all downloaded <%="<% if(model.type === 'voice'){ %\>"%>Voices<%="<% }else{ %\>"%>Videos<%="<% } %\>"%>.<br>
				<%="<% if(model.type === 'voice'){ %\>"%>Voices<%="<% }else{ %\>"%>Videos<%="<% } %\>"%> will not be played after this change.
			<%="<% }else{ %\>"%>
				Downloading <%="<% if(model.type === 'voice'){ %\>"%>Voices<%="<% }else{ %\>"%>Videos<%="<% } %\>"%> Data<br>
				All <%="<% if(model.type === 'voice'){ %\>"%>Voices<%="<% }else{ %\>"%>Videos<%="<% } %\>"%> will be played after this change.<br>
				<span class="c_red">※We recommend using a stable Wi-Fi network.</span>
			<%="<% } %\>"%>
		</p>
		<div class="popBtnWrap">
			<span class="btn b_white se_cancel TE popupCloseBtn"><span class="b_screen"></span>Cancel</span>
			<span class="btn b_pink se_decide TE dataDecide popupCloseBtn"><span class="b_screen"></span>OK</span>
		</div>
	</div>
</script>

<script id="allDownloadPop" type="text/template">
	Downloading all necessary images, voices, and videos.<br>
	<span class="c_red">Due to the amount of data, we recommend using a stable Wi-Fi network.</span>
</script>

<script id="nameChangePop" type="text/template">
	Please enter your new Player Name.<br><br>
	<input id="changeName" class="commonFrame3" readonly="readonly" type="text" maxlength="8" value="">
	<div class="textCount" style="display:inline-block;margin-left:50px;">
		<span id="textCount">0</span>/8
	</div>
	<div class="c_red" style="margin-top:20px;">※Player Names can be changed only once a day.</div>
</script>

<script id="deleteConfirmPop" type="text/template">
<div id="dataDeletePopupText">
	<%='<% if(isOn){ %\>'%>
	You have chosen to no longer keep the following data on your device after use.<br>
	※This data will be deleted when the app is closed and will be downloaded again when needed.
	<%='<% } else { %\>'%>
	You have chosen to keep the following data on your device after use.<br>
	※This data will not be deleted when the app is closed.
	<%='<% } %\>'%>

	<div class="c_red" style="margin-top:20px;">
		<%='<% if(type == "voice"){ %\>'%>
		・Story Voices
		<%='<% } else { %\>'%>
		・Transformation Videos
		<%='<% } %\>'%>
	</div>
</div>
</script>
